@model ADStarter.Models.Program

@{
    ViewData["Title"] = "Delete Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Delete Program</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Program Controls</li>
                        <li class="breadcrumb-item active">Delete Program</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Are you sure you want to delete this?</h5>
                    </div>
                    <div class="card-body">
                        <h4>Program Details</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">Program Name</dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.prog_name)
                            </dd>

                            <dt class="col-sm-2">Program Description</dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.prog_desc)
                            </dd>

                            <dt class="col-sm-2">Program Summary</dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.prog_summary)
                            </dd>

                            <dt class="col-sm-2">Program Session Count</dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.prog_sessionCount)
                            </dd>

                            <dt class="col-sm-2">Program Step</dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.prog_step)
                            </dd>

                            <dt class="col-sm-2">Program Weekday Price</dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.prog_WeekdayPrice)
                            </dd>

                            <dt class="col-sm-2">Program Weekend Price</dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.prog_WeekendPrice)
                            </dd>
                        </dl>

                        <form asp-action="DeleteConfirmed">
                            <input type="hidden" asp-for="prog_ID" />
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <a asp-action="ListPrograms" class="btn btn-secondary ms-2">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
