@model ADStarter.Models.ViewModels.ChildDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Name:</dt>
                <dd class="col-sm-8">@Model.ChildName</dd>

                <dt class="col-sm-4">Age:</dt>
                <dd class="col-sm-8">@Model.Age</dd>

                <dt class="col-sm-4">Gender:</dt>
                <dd class="col-sm-8">@Model.Gender</dd>

                <dt class="col-sm-4">DOB:</dt>
                <dd class="col-sm-8">@Model.DOB.ToShortDateString()</dd>

                <dt class="col-sm-4">Nationality:</dt>
                <dd class="col-sm-8">@Model.Nationality</dd>

                <dt class="col-sm-4">Religion:</dt>
                <dd class="col-sm-8">@Model.Religion</dd>

                <dt class="col-sm-4">Race:</dt>
                <dd class="col-sm-8">@Model.Race</dd>

                <dt class="col-sm-4">Step:</dt>
                <dd class="col-sm-8">@Model.Step</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Therapist:</dt>
                <dd class="col-sm-8">@Model.TherapistName</dd>

                <dt class="col-sm-4">Parent:</dt>
                <dd class="col-sm-8">@Model.ParentName</dd>
            </dl>
        </div>
    </div>
</div>
