@model ADStarter.Models.Announcement
@{
    ViewData["Title"] = "Add Therapist Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.UserId;
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>@((Model.ann_ID != 0) ? "Update" : "Create") Announcement</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Announcements</li>
                        <li class="breadcrumb-item active">@((Model.ann_ID != 0) ? "Update" : "Create") Announcement</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-8">
                    <form method="post" class="card" enctype="multipart/form-data">
                        <input type="hidden" name="userId" value="@id" />
                        @* <input asp-for="ann_ID" hidden /> *@
                        <input asp-for="ImageUrl" hidden />
                        <div class="card-header">
                            <h4 class="card-title mb-0">@((Model.ann_ID != 0) ? "Update" : "Create") Announcement</h4>
                            <div class="card-options">
                                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
                                    <i class="fe fe-chevron-up"></i>
                                </a>
                                <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
                                    <i class="fe fe-x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <div class="mb-3">
                                        <label asp-for="ann_title" class="form-label">Title</label>
                                        <input asp-for="ann_title" class="form-control" placeholder="Announcement Title" />
                                        <span asp-validation-for="ann_title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label asp-for="ann_desc" class="form-label">Description</label>
                                        <textarea asp-for="ann_desc" class="form-control" rows="4" placeholder="Announcement Description"></textarea>
                                        <span asp-validation-for="ann_desc" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="ann_status" class="form-label">Status</label>
                                        <select asp-for="ann_status" class="form-control">
                                            <option disabled selected>Select State</option>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>
                                        <span asp-validation-for="ann_status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="ImageUrl" class="ms-2"></label>
                                        <input type="file" name="file" class="form-control border-0 shadow" />
                                    </div>
                                </div>
                                @* <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Current Image</label>
                                        <img src="@Model.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                                    </div>
                                </div> *@
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button type="submit" class="btn btn-primary">@((Model.ann_ID != 0) ? "Update" : "Create")</button>
                            <a asp-controller="Announcement" asp-action="Manage" class="btn btn-outline-primary">Back To List</a>
                        </div>
                    </form>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">My Profile</h4>
                            <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Current Image</label>
                                    <img src="@Model.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
