@page
@model RegisterModel
@{
    ViewData["Title"] = "Register Simple";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="row m-0">
    <div class="col-12 p-0">
        <div class="login-card">
            <div>
                <div>
                    <a class="logo" asp-controller="Dashboard" asp-action="Index">
                        <img class="img-fluid for-light" src="~/assets/images/logo/logoAD.png" style="width:200px" alt="login page">
                        <img class="img-fluid for-dark" src="~/assets/images/logo/logoAD.png" style="width:200px" alt="login page">
                    </a>
                </div>
                <div class="login-main">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="theme-form">
                        <h4>Create your account</h4>
                        <p>Enter your personal details to create an account</p>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                            <label class="col-form-label pt-0">Email </label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label pt-0">Password</label>
                            <div class="form-input position-relative">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="*********" />
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-form-label pt-0">Confirm Password</label>
                            <div class="form-input position-relative">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="*********" />
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        @* @if (User.IsInRole(SD.Role_Admin))
                        { *@
                            <div class="form-group">
                            <label class="col-form-label pt-0">Select Role</label>
                                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                    <option disabled selected>-Select Role-</option>
                                </select>
                            </div>
                        @* } *@
                        
                        <div class="form-group mb-0">
                            <div class="checkbox p-0">
                                <input id="checkbox1" type="checkbox">
                                <label class="text-muted" for="checkbox1">Agree with <a class="ms-2" href="#">Privacy Policy</a></label>
                            </div>
                            <button id="registerSubmit" type="submit" class="btn btn-primary btn-block w-100">Create Account</button>
                        </div>
                        <h6 class="text-muted mt-4 or">Or sign up with</h6>
                        <div class="social mt-4">
                            <div class="btn-showcase">
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <div>
                                            <p>
                                                There are no external authentication services configured. See this
                                                <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article about setting up this ASP.NET application to support logging in via external services</a>.
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins!)
                                                    {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </div>
                        </div>
                        <p class="mt-4 mb-0">
                            Already have an account?
                            <a class="ms-2" asp-page="./Login">Sign in</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
s
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/js/login.js"></script>
    <script>
        $(document).ready(function () {
            $('.show-hide').on('click', function () {
                var passwordField = $(this).siblings('input');
                var type = passwordField.attr('type') === 'password' ? 'text' : 'password';
                passwordField.attr('type', type);
                $(this).toggleClass('show');
            });
        });
    </script>
}
