@model List<ADStarter.Models.ViewModels.ParentReportViewModel>

@{
    ViewData["Title"] = "Child Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <h3>Child Report</h3>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5>Schedule</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display" id="childReportTable">
                        <thead>
                            <tr>
                                <th>Child Name</th>
                                <th>Session Date</th>
                                <th>Program Name</th>
                                <th>Slot Time</th>
                                <th>Report Remarks</th>
                                <th>Report Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ChildName</td>
                                    <td>@item.SessionDateTime.ToString("yyyy-MM-dd")</td>
                                    <td>@item.ProgramName</td>
                                    <td>@item.SlotTime</td>
                                    <td>@item.ReportRemark</td>
                                    <td style="color: @(item.ReportStatus == "Approved" ? "green" : "red")">@item.ReportStatus</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.ReportFile))
                                        {
                                            <a href="@Url.Action("DownloadReport", "ParentReport", new { fileName = item.ReportFile })" class="btn btn-primary">Download Report<i class="fa fa-download"></i></a>
                                        }
                                        else
                                        {
                                            <span>No Report Available</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script>
    $(document).ready(function () {
        $('#childReportTable').DataTable();
    });
</script>
}